rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    // Match all documents in the "form" collection
    match /form/{document} {
      allow write: if request.resource.data.firstName is string &&
                   request.resource.data.email is string &&
                   request.resource.data.message is string &&
                   request.resource.data.captchaVerified == true;
      allow read: if false; // Disable public read access
    }
  }
}
