rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    // Allow writes to the "form" collection
    match /form/{document} {
      allow write: if true; // Allow public writes
      allow read: if false; // Disable public reads
    }
  }
}
